[Unit]
Description=psmonitor system monitoring - headless server
After=network.target

[Service]
User=[user]
Group=[group]
ExecStart=/usr/bin/psmonitor-server
Restart=always

[Install]
WantedBy=multi-user.target