[Unit]
Description=Psutil Monitoring Service
After=network.target

[Service]
User=[user]
Group=[group]
WorkingDirectory=/usr/bin/psmonitor
ExecStart=/usr/bin/python3 /usr/bin/psmonitor/server.py run
Restart=always

[Install]
WantedBy=multi-user.target