[Unit]
Description=PSMonitor system monitoring - headless server
After=network.target

[Service]
User=[user]
Group=[group]
ExecStart=/usr/bin/psmonitor-headless
Restart=always

[Install]
WantedBy=multi-user.target