VSVersionInfo(
  ffi=FixedFileInfo(
    filevers=(1, 4, 0, 1551),
    prodvers=(1, 4, 0, 1551),
    mask=0x3f,
    flags=0x0,
    OS=0x40004,
    fileType=0x1,
    subtype=0x0,
    date=(0, 0)
  ),
  kids=[
    StringFileInfo(
      [
      StringTable(
        u'040904B0',
        [StringStruct(u'CompanyName', u'Chris Rowles'),
        StringStruct(u'FileDescription', u'psmonitor Server - for remote system monitoring'),
        StringStruct(u'FileVersion', u'1.4.0.1551'),
        StringStruct(u'InternalName', u'psmonitor-server'),
        StringStruct(u'LegalCopyright', u'\xa9 Chris Rowles. All rights reserved'),
        StringStruct(u'OriginalFilename', u'psmonitor-server.exe'),
        StringStruct(u'ProductName', u'psmonitor Server'),
        StringStruct(u'ProductVersion', u'1.4.0.1551')])
      ]), 
    VarFileInfo([VarStruct(u'Translation', [1033, 1200])])
  ]
)